<h1>Choose a walker (i.e., log in)</h1>
<h3>Create a new walker (i.e., create an account)</h3>
<h4>Table of walkers</h4>

<% @walkers.each do |walker| %>
  <p>
    <%= link_to walker.name, walker_path(walker) %>
  </p>
<% end %>

<h3><%= link_to "New Walker", new_walker_path %></h3>
