<h1>Hi, <%= @walker.name %>!</h1>
<p>
  <%= link_to "Start a new trip!", walker_trips_path(@walker.id), method: :post %>
</p>

<p>
  <%= link_to "See my lifetime trips", walker_trips_path(@walker.id) %>  
</p>
